<p id="notice"><%= notice %></p>
<%= content_for :header do %>
<%= link_to 'Bicycles', bicycles_path %>
<% end %>


<h3 class="title is-4">Users' Profiles</h3>

<% @users.each do |user| %>
<div class="columns has-same-height is-gapless">
  <div class="column">
    <!-- Profile -->
    <div class="card">
      <div class="card-content">
        <div class="content">
          <table class="table-profile">
            <tr>
              <th colspan="1"></th>
              <th colspan="2"></th>
            </tr>
            <tr>
              <td> Name :</td>
              <td><%= user.name %></td>
            </tr>
            <tr>
              <td> Email :</td>
              <td><%= user.email %></td>
            </tr>
            <tr>
              <td> Wallet :</td>
              <td><%= user.wallet %></td>
            </tr>
          </table>
          
          <div class="buttons has-addons is-centered">
            <a href="#" class="button is-link">My Bicycles</a>
            <%= link_to 'Delete my Account', user_path(user), method: :delete, class: "button is-link", data: { confirm: 'Are you sure?' }  %>
            <%= link_to 'Edit', edit_user_path(user), class: "button is-link" %>
         </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="column">
    <!-- Profile pix -->
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <%= image_tag(user.image_url(:standard)) %>
        </figure>
      </div>
    </div>
  </div>
  <div class="column">
    <!-- bio -->
    <div class="container">
      <p>
        <%= user.bio %>
      </p>
    </div>
  </div>

</div>
<% end %>





<%= link_to 'New User', new_user_path %>
