<!DOCTYPE html>
<html>
  <head>
    <title>Bicycles2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= link_to 'Add Bicycle', new_bicycle_path %>
    <%= yield %>
  </body>
</html>
